# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Steve\Desktop\`\Luke's Folder\School and Code\Class Stuff\4th Year\PPP Stuff\WizardvsWorld\WizardvsWorldGame\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
